body {
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color: white;
}

.wrapper{
    background-image: url("../images/sky.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    width:100%;
    height:100%;
    overflow: auto;
    text-align: center;
}

div nav {
    display: flex;
    align-items: center;
    background-color: #333333;
}

div nav h1 {
    margin-left: 10px
}

#navList {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#navImg {
    margin-left: 10px;
    width: 100px;
    height: auto;
}

#navListElement {
    margin-right: 50px;
    font-size: 20px;
}

#navListElement a {
    color: white;
    text-decoration: none;
}

#navListElement a:hover {
    transition: 0.3s;
    color: #B19CD8;
}

h1, h2{
    text-align: center;
    text-decoration: underline;
}

h1{
    font-size: 50px;
}

#main-title {
    text-decoration: underline;
}

#content-wrapper{
    display: flex;
}

#pics-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.img-test{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.about{
    width: 700px;
    height: auto;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    transition: 0.3s ease;
    width: 640px;
    height: 80px;
    margin-block: 50px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.card:hover{
    transform: scale(1.05);
}

.form{
    width: 700px;
    height:auto;
    margin-right:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* #google-form{
    background-color: white;
    padding: 0;
    margin: 0;
    max-height: 670px;
} */

.speaker-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.speaker-cards .one, .two, .three{
    display: flex;
    max-width: 350px;
    flex-direction: column;
    align-items: center;
    font-size: small;
    text-align: center;
}

.speaker-cards .bio{
    padding: 0;
    margin-top: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-form{
    background-color: white;
}

.bigLetter{
    font-size: 40px;
}

.starsAbbreviation{
    text-align: center;
}

.bigLetter:hover{
    transition: ease-in-out 0.5s;
    color: gold;
}

h2{
    font-size: 40px;
}

.aboutCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:-10px;
}

.aboutCard h{
    margin: 0px;
    padding: 0px;
}

.aboutCard p{
    max-width: 300px;
    padding: 0px;
    margin: 0px;
}

.company-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


